{# print-rectangular-matrix.html.twig #}
{% for key,val in hash %}
  <tr>
    <td>{{ val.key1 }}</td>
    <td>{{ val.key2 }}</td>
    <td>{{ val.key3 }}</td>
    <td>{{ val.key4 }}</td>
  </tr>
{% endfor %}